

.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    padding:5px  10px;
}

.nav-items{
    padding-left: 10px;
}
.nav-items ul{
    display: flex;
    list-style-type: none;
    font-size: 20px;
}

.nav-items> ul >li{
    padding: 10px;
    margin: 10px;
}

.logo{
    width: 100px;
}

.body{
    border: 1px solid black;
}
.res-card{
    padding: 7px;
    width: 220px;
    /* height: 300px; */
    margin: 5px;
    border-radius: 5px;
    background:rgb(209, 201, 201);
}

.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
}

.search{
    padding: 20px;
}
.res-logo{
    width: 100%;
   
    height: 200px;
    padding: 0px;
    
}
.res-detail{
    margin: 2px;
}
.res-details{
    margin: 2px;
}
.res-detailse{
    margin: 2px;
}
.res-detailses{
    margin: 2px;
}
.res-container{
    display: flex ;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}
.filter-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff6b6b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .filter-btn:hover {
    transform: scale(1.1); /* Slightly increase size */
    background-color: #ff3b3b; /* Change color */
  }

  .shimmer-cardboss{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
  }
  .shimmer-card {
    width: 220px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    background-color: #f6f7f8 ;
    border-radius: 8px;
    padding: 10px;
    gap: 8px;
    overflow: hidden;
    position: relative;
  }
  /* f6f7f8 */
  .shimmer-image {
    width: 100%;
    height: 120px;
    background-color: #e0e0e0;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
  }
  
  .shimmer-title, .shimmer-subtitle {
    width: 80%;
    height: 12px;
    background-color: #e0e0e0;
    border-radius: 4px;
    position: relative;
    overflow: hidden;
  }
  
  .shimmer-title {
    height: 14px;
  }
  
  .shimmer-image::before, .shimmer-title::before, .shimmer-subtitle::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.2), transparent);
    animation: shimmer 1.5s infinite;
  }
  
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  
  /* Styling for the login button */
.login {
  margin-top: 20px;
  height: 30px;
  padding-top: 5px;
  padding-left: 18px;
  padding-right:18px ;
  font-size: 16px;
  color: white;
  background-color: #ff4800;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
 
  cursor: pointer;
}

.login:hover {
  background-color: #00b300;
}

.login:active {
  background-color: #004080;
}
